<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 3.24.2018, 2:27</p>
            <h2><a href="">My first post</a></h2>
            <p>Today I took a very bold step and attended a Django Girls workshop.</p>
        </div>

        <div>
            <p>published: 3.24.2018, 2:35</p>
            <h2><a href="">My second post</a></h2>
            <p>Git is your friend. Get used to it.</p>
        </div>
    </body>
</html>